<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-redEyeBookMark" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>BookMark</name><js-module name="BookMark" src="www/BookMark.js"><clobbers target="cordova.plugins.BookMark" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="BookMark"><param name="ios-package" value="BookMark" /></feature></config-file><source-file src="src/ios/MyHybridPlugin.m"/><source-file src="src/ios/MyHybridPlugin.h"/><source-file src="src/ios/MyTableViewController.m"/><source-file src="src/ios/MyTableViewController.h"/></platform></plugin>
